#trapezoid {
    border-top: 40px solid transparent;
    border-bottom: 30px solid white;
    border-left: 1200px solid transparent;
    /*border-right: 50px solid transparent;*/
    height: 0;
    width: 100px;
    background: url('1.jpeg');
    background-size: cover;
    background-position: center;
}